<h1>Get your Scrabble score:</h1>
<form action="/score" method="get">
  <div class="form-group">
    <label for="word">Enter a word to get your Scrabble score</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn-success">Get your scrabble score here!</button>
</form>
